# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Data (ignore all datasets)
# ==========================
data/

# ==========================
# Archives
# ==========================
*.zip
*.7z
*.rar
*.tar
*.gz

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db